POSTGRES_DB=ledgerflow
POSTGRES_USER=ledgerflow_user
POSTGRES_PASSWORD=ledgerflow_password

DB_URL=jdbc:postgresql://postgres:5432/ledgerflow
DB_USERNAME=ledgerflow_user
DB_PASSWORD=ledgerflow_password

# If running Spring Boot directly on host (not Docker), override DB_URL:
# DB_URL=jdbc:postgresql://localhost:5433/ledgerflow

JWT_SECRET=secret
JWT_EXPIRATION=36000
